<!DOCTYPE html>
<!-- saved from url=(0050)https://getbootstrap.com/docs/4.0/examples/album/# -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>Flower Mind</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css", :media => "all" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "album.css", :media => "all" %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>

  </head>

  <body>

    <header>
      <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">FlowerMindとは</h4>
              <p class="text-muted">花言葉から花束を作るwebアプリケーション</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/The_Na_Ka?lang=ja" class="text-white">Follow on Twitter</a></li>
                <li><a href="https://www.facebook.com/rika.nakaza" class="text-white">Like on Facebook</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Flower Mind</strong>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <div class="jumbotron text-center">
        <%= javascript_include_tag "slideshow.js" %>

        <div id="slideshow">
         <img src="churipu.jpg" alt="画像1" class="active">
         <img src="lose.jpg" alt="画像2">
         <img src="himawari.jpg" alt="画像3">
        </div>

        <div class="container">


          <h1 class="jumbotron-heading">Flower Mind</h1>
          <p class="lead text-muted">あなたの想い，<br>花にかえて伝えてみませんか。</p>
        </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">

            <nav>
              <ul class="main-nav">
                <li>Step 1
                  <p>贈りたい言葉から花束を作成</p>
                </li>
                <li>Step 2
                  <p>作成した花束を花屋で購入</p>
                </li>
                <li>Step 3
                  <p>「いつ，誰に，どんな花束を。」</p>
                  <p>flowerメモリの記録</p>
                </li>
              </ul>
            </nav>

            <a href="#" class="make-bouquet">花束を作ってみる</a>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="churipu.jpg" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><p class="card-text">花言葉：不滅の愛</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">詳細を見る</button>
                    </div>
                    <small class="text-muted">1 word</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="lose.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">花言葉：愛情，情熱</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">詳細を見る</button>
                    </div>
                    <small class="text-muted">2 word</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Thumbnail [100%x225]" src="himawari.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">花言葉：あなただけを見つめてる</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">詳細を見る</button>
                    </div>
                    <small class="text-muted">1 word</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="make-bouquet">もっと見る</a>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="https://getbootstrap.com/docs/4.0/examples/album/#">トップへ戻る</a>
        </p>
        <p>FlowerMind is © 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Album example for Bootstrap_files/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./Album example for Bootstrap_files/popper.min.js"></script>
    <script src="./Album example for Bootstrap_files/bootstrap.min.js"></script>
    <script src="./Album example for Bootstrap_files/holder.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>
