:root {
  --jumbotron-padding-y: 3rem;
}

.bg-dark {
  background-color: #fff8dc;
}

.focus {
  color: #969696;
  font-size: 16px;
  padding: 5px;
  width: 200px;
}

.open{
  background: #fa2;
  color: #fff;
  cursor: pointer;
  width: 200px;
  padding: 20px;
  margin: 0 auto;
}
#slideBox{
  padding: 10px;
  border: 1px #ccc solid;
  display: none;
}

.tooltip {
  margin: 100px 0 0;
  list-style: none;
  color: #fff;
}
.tooltip li {
  margin: 0 10px;
  float: left;
  position: relative;
  text-align: center;
}
.tooltip a {
  padding: 14px 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  width: 180px;
}
.tooltip li span {
  background: #ffc;
  border: 1px solid #fc6;
  height: 45px;
  position: absolute;
  top: -85px;
  left: 0;
  text-align: center;
  padding: 20px 12px 10px;
  z-index: 2;
  display: none;
}
body {
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff8dc;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#slideshow {
   position: relative;
   width:  640px; /* 画像の横幅に合わせて記述 */
   height: 350px; /* 画像の高さに合わせて記述 */
}
#slideshow img {
   position: absolute;
   /* top: 0;
   left:0; */
   z-index: 8;
   opacity: 0.0;
   width:  640px;
   height: 350px;
}
#slideshow img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 9;
}


.main-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffc0cb;
}

.main-nav li {
  list-style: none;
  margin: 100px;
  border-radius: 5px;
  background: #fff;
  color: #696969;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.main-nav li p {
  color: #000;
}

.make-bouquet {
  position: relative;
  background-color: #FF8000;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #DF7401;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  padding: 10px;
}

.make-bouquet:hover {
  background-color: #FACC2E;
  box-shadow: 0 3px 0 #FFBF00;
}
.make-bouquet:active {
  top: 3px;
  box-shadow: none;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
